<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>   
  </configSections>
  <appSettings>   
    <add key="ConfigPath" value="D:\Work\Projects\Crawler\Crawler\Config.xml" />
    <add key="localsql" value="server=(local);uid=sa;pwd=123;database=WebCrawler;"/>
    <add key="TimeElapse" value="60000"/>

	  <!--Image config-->
	<add key="SaveImage" value="1"/>
	<add key="phyPath" value="E:\Work\Projects\Crawler\WebApplication1\Upload\CMS\"/>
	<add key="virtualPath" value="/Upload/CMS/"/>
    <add key="exceptionImg" value="logo.gif,pinit_fg_en_rect_gray_20.png"/>
  
  </appSettings>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <param name="file" value="Logs\Crawler.log"/>
      <param name="appendToFile" value="true"/>
      <param name="maximumFileSize" value="1024KB"/>
      <param name="maxSizeRollBackups" value="20"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%level] %thread %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="EventLog" type="log4net.Appender.EventLogAppender">
      <threshold value="ERROR"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="MyApp.exe has thrown an error and was unable to complete its task. This is the error message (please see the log file for more details):%newline%newline %message"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup> 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>

      </basicHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>
