<?xml version="1.0" encoding="utf-8"?>
<main>
  <!-- <data>
    <Page>2sao.vietnamnet.vn</Page>
    <Source>http://2sao.vn/p0c1000/sao.vnn</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://2sao.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//div[@id="listNews"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//div/div]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//h2/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//p]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//h2/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//div[@class="detail_date"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//span[@id="advenueINTEXT"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>
  <data>
    <Page>baophapluat.vn</Page>
    <Source>http://baophapluat.vn/thoi-su/</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://baophapluat.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//div[@class="story-listing"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//div[@class="item clearfix"]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//h4/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//div[@class="desc"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//h4/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//p[@class="img"]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//ul[@class="clearfix"]/li[@style="width: 288;"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//div[@id="abody"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[//div[@class="sapo"],//div[@id="div-gpt-ad-1382012928777-0"]]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>www.nhandan.com.vn</Page>
    <Source>http://www.nhandan.com.vn/xahoi.html</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://www.nhandan.com.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//div[@class="grid_18 alpha omega"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//div[@class="grid_0 alpha omega ndborderbottom_vi ndmodulespace"]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//div[@class="grid_0 alpha omega ndtitleMedium_vi"]/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//div[@class="ndcontentMedium2_vi"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//div[@class="grid_0 alpha omega ndtitleMedium_vi"]/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//div[@class="grid_0 alpha omega"]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//div[@class="icon_date_top"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//div[@class="itemBody"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>video.nguoiduatin.vn</Page>
    <Source>http://video.nguoiduatin.vn/</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://video.nguoiduatin.vn/</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//div[@class="alb-list pkg"]/div[@class="alb-left"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//*[@class="alb-blk"]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//div[@class="alb-ctn"]/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//div[@class="alb-intro"]/p]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//span[@class="viewer-cou"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//div[@class="video-area"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>www.tienphong.vn</Page>
    <Source>http://www.tienphong.vn/video-clip/</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://www.tienphong.vn/</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="wrap clearfix"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//div]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//p[@class="title"]/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//div[@class="summary"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//p[@class="title"]/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//p[@class="thumb"]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//span[@class="pubdate"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//div[@class="album"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>vnexpress.net</Page>
    <Source>http://vnexpress.net/video/</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://vnexpress.net</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@id="resultSearch1"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//*[@class="CRV_Content"]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//*[@class="CRV_Title"]/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//*[@class="NewsLead"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//*[@class="CRV_Title"]/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//div[@class="NewsTime"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//div[@id="block_flash_video"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
    <PartternTags>
      <![CDATA[//div[@class="block_tag width_common space_bottom_20"]]]>
    </PartternTags>
  </data>-->
  <!--<data>
    <Page>vneconomy.vn</Page>
    <Source>http://vneconomy.vn/p0c23/xe-360.htm</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://vneconomy.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="subrightct fl"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//li]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//h4/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//p]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//h4/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//span[@class="date-detail fr mt2"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//div[@id="roof"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[//div[@class="share fl w100 mt10"]]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>danviet.vn</Page>
    <Source>http://danviet.vn/p1c27/the-thao.htm</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://danviet.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="listItem"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//li]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//h3/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//p]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//h3/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//div[@class="imglist"]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//div[@class="date"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//div[@class="bodydetail"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>www.vietnamplus.vn</Page>
    <Source>http://www.vietnamplus.vn/xahoi.vnp</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://www.vietnamplus.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="story-listing slist-03 padded zone-listing"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//*[@class="story"]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//h2[@class="title"]]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//p[@class="summary"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//p[@class="thumbnail"]/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//p[@class="thumbnail"]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//p[@class="meta"]/time]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//div[@class="article-contents"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>motthegioi.vn</Page>
    <Source>http://motthegioi.vn/xa-hoi/</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://motthegioi.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@id="content"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//*[@class="block"]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//div[@class="post-content-right"]/h2/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//div[@class="post-content-front"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//div[@class="post-content-right"]/h2/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//div[@class="featured-image clearfix"]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//span[@class="meta-info"]/span/time]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@id="abody"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>baotintuc.vn</Page>
    <Source>http://baotintuc.vn/van-hoa-the-thao-158ct0.htm</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://baotintuc.vn/</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="box668"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//*[@class="listcategory"]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//h4/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//p]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//h4/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//div[@class="headerlist"]/p]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@id="divContent"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>autopro.com.vn</Page>
    <Source>http://autopro.com.vn/xe-may.chn</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://autopro.com.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="newupdate_ct viewchuyenmuc fl"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//ul/li]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//h2/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//p]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//h2/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//p[@class="datetime"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@id="newscontent"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>kenh14.vn 1</Page>
    <Source>http://kenh14.vn/fashion.chn</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://kenh14.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="listcontent fl"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//ul/li]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//h2/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//p[@class="news-sapo"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//h2/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//p[@class="date_time"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@class="content"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
  </data>-->
  <!--<data>
    <Page>giaoduc.net.vn</Page>
    <Source>http://giaoduc.net.vn/Du-hoc/272.gd</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://giaoduc.net.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="wrapstory"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//div[@class="story"]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//p[@class="title"]/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//p[@class="summary"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//p[@class="title"]/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//p[@class="photo"]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//span[@class="time"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@class="body"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
  </data>-->
  <!--<data>
    <Page>www.doisongphapluat.com</Page>
    <Source>http://www.doisongphapluat.com/xa-hoi/</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://www.doisongphapluat.com</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="art-listing"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//ul/li]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//h3/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//p[not(self::span[@class="time"])]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//h3/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//div[@class="info"]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//nav[@class="breakcrumb"]/p[@class="fl-right dt"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@id="main-detail"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[//div]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>giadinh.net.vn</Page>
    <Source>http://giadinh.net.vn/mua-sam/thi-truong.htm</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://giadinh.net.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="catalogies-left1 fl"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//ul/li[@class="boderbt"]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//h4/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//p]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//div[@class="date3 fr mgt2"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@class="detailct fl mgt13"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
  </data>-->
  <!--<data>
    <Page>ngoisao.net</Page>
    <Source>http://ngoisao.net/tin-tuc/thu-gian/dan-choi</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://ngoisao.net</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="fl lnhtl"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//ul/li]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//h3/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//p[not(@class="time")]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//h3/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//span[@class="spanDateTime fl"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@class="fck_detail"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
  </data>-->
  <!--<data>
    <Page>kienthuc.net.vn</Page>
    <Source>http://kienthuc.net.vn/the-gioi/</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://kienthuc.net.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="list-news"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//li]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//h2/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//*[@class="box-wiget-content-des"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//h2/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//*[@class="box-wiget-content-img"]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//span[@class="tags_span"]/span]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@class="post entry-content"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
  </data>-->
  <!--<data>
    <Page>tuoitre.vn</Page>
    <Source>http://tuoitre.vn/Chinh-tri-Xa-hoi</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://tuoitre.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//ul[@class="listItemGrNewsBox"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//li]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//*[@class="padB6"]]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//div[not(@class="fontItalic clor6 padB4 f-11")]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//a[not(@class="clorBlue")]]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//div[@class="padT10"]/div[@class="fLeft"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//div[@id="divArticleDetailMain"]/div[@class="padB10"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
  </data>-->
  <!--<data>
    <Page>www.tienphong.vn</Page>
    <Source>http://www.tienphong.vn/giai-tri-sao/</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://www.tienphong.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="firstpage storylisting"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//article[@class="story"]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//*[@class="title"]]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//*[@class="summary"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//*[@class="thumb"]/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//*[@class="thumb"]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//*[@class="pubdate"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@class="article-contents cmscontents"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>laodong.com.vn</Page>
    <Source>http://laodong.com.vn/bong-da/</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://laodong.com.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="cat-browsing-news clearfix"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//article]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//*[@class="title"]]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//*[@class="summary"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//*[@class="thumbnail"]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//div[@class="meta"]/time]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@class="article-body"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[//*[@class="stories-box-horizontal"]]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>thethao.vietnamnet.vn</Page>
    <Source>http://thethao.vietnamnet.vn/fms/tin-tuc-bong-da/</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://thethao.vietnamnet.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="ArticleCateList m-t-10"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//*[@class="ArticleCateItem "]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//*[@class="clearfix"]/h2]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//*[@class="lead"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//*[@class="clearfix"]/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//*[@class="clearfix"]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//*[@class="ArticleDate"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@class="ArticleContent"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>vietnamnet.vn</Page>
    <Source>http://vietnamnet.vn/vn/doi-song/</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://vietnamnet.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="ArticleCateList"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//*[@class="ArticleCateItem"]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//*[@class="title"]]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//*[@class="lead"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//*[@class="clearfix"]/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//*[@class="clearfix"]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//*[@class="ArticleDate"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@class="ArticleContent"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>vtc.vn</Page>
    <Source>http://vtc.vn/phap-luat/</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://vtc.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="phantrai"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//*[@class="p2_tinchinh"]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//*[@class="p2_menuchinh"]]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//a[@class="Summary_home"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//*[@class="p2_tinchinh"]/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//*[@class="p2_tinchinh"]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//*[@itemprop="datePublished"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@id="abody"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
  </data>-->
  <!--<data>
    <Page>www.zing.vn</Page>
    <Source>http://news.zing.vn/the-gioi.html</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://news.zing.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="cate_content"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//article]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//header/h1/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//header/p[@class="summary"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//header/h1/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//div[@class="cover"]]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//header/time_datetime]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@itemprop="articleBody"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[yyyy/MM/dd]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>plo.vn</Page>
    <Source>http://plo.vn/quan-su-12.html</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://plo.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="main-contents"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//*[@class="story"]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//*[@class="title"]/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//*[@class="summary"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//*[@class="title"]/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//*[@class="thumb"]]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//p[@class="meta"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@id="abody"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[//*[@class=" fb-like fb_iframe_widget"]]]>
    </PartternDetailRemove>
  </data>-->
  <data>
    <Page>vietnamnet.vn</Page>
    <Source>http://vietnamnet.vn/vn/cong-nghe-thong-tin-vien-thong/</Source>
    <CategoryID>331</CategoryID>
    <HttpPrefix>http://ictnews.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="HomeBlockLeft left"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//*[@class="ArticleCateItem special"]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//*[@class="title"]]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//*[@class="lead"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//*[@class="clearfix"]/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//*[@class="clearfix"]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//*[@class="date"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@class="ArticleContent"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
    <PartternTags>
      <![CDATA[//div[@class="block_tag width_common space_bottom_20"]]]>
    </PartternTags>
  </data>
  <!--<data>
    <Page>nld.com.vn</Page>
    <Source>http://nld.com.vn/kinh-te/tai-chinh.htm</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://nld.com.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="box2"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//*[@class="clearfix"]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//*[@class="clearfix"]/h3/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//p[not(@class="datetime")]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//*[@class="clearfix"]/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//*[@class="clearfix"]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//*[@class="time"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@class="content news_detail"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
  </data>-->
  <!--<data>
    <Page>DanTri.com.vn</Page>
    <Source>http://dantri.com.vn/kinh-doanh.htm</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://dantri.com.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="fl wid470"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//*[@class="mt3 clearfix"]]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//*[@class="mr1"]/h2/a]]>
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//*[@class="fon5 wid324 fl"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//*[@class="mr1"]/h2/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//*[@class="fr fon7 mr2"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//div[@class="fon34 mt3 mr2 fon43"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[//*[@class="news-tag"],//i[@class="mso-bidi-font-style: normal"],//input[@id="ctl00_IDContent_ctl00_hdChkNewsIsNull"],
//input[@id="hidNextUsing"],//div[@class="emailprint"],//div[@id="ads_zone230"]]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  <!--<data>
    <Page>Kenh 14</Page>
    <Source>http://kenh14.vn/doi-song.chn</Source>
    <CategoryID>105</CategoryID>
    <HttpPrefix>http://kenh14.vn</HttpPrefix>
    <ListStartAfter>
      <![CDATA[//*[@class="newslistpannel"]]]>
    </ListStartAfter>
    <PartternNodeList>
      <![CDATA[//ul/li]]>
    </PartternNodeList>
    <PartternTitle>
      <![CDATA[//*[@class="title"]/a]]>               
    </PartternTitle>
    <PartternTeaser>
      <![CDATA[//*[@class="sapo"]]]>
    </PartternTeaser>
    <PartternLink>
      <![CDATA[//div[@class="img "]/a]]>
    </PartternLink>
    <PartternAvatar>
      <![CDATA[//*[@class="img "]/a]]>
    </PartternAvatar>
    <PartternPubDate>
      <![CDATA[//*[@class="date"]]]>
    </PartternPubDate>
    <PartternDetail>
      <![CDATA[//*[@class="content"]]]>
    </PartternDetail>
    <PartternDetailRemove>
      <![CDATA[]]>
    </PartternDetailRemove>
    <FormatDate>
      <![CDATA[]]>
    </FormatDate>
  </data>-->
  
  
</main>